<!-- extend from base layout -->
{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block main_body %}
    <div class="jumbotron">
        <h3 style="margin-left: 30px"><b>About</b></h3>
    </div>
    <div class="row-fluid">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>Web Development with Python</h1>
            <h2 style="text-decoration: line-through;">ConSol DevOps Day 2017</h2>
            <h2>Code Design Camp Munich 2018</h2>
            <h3>&copy; 2017 Simon Hofmann</h3>
            <h3>Last updated: 08/2018</h3>
        </div>
    </div>
{% endblock %}
